body {
    margin: 0;
    padding: 0;
    width: 100%;
}

:root {
    --main-bg-color: #10b981;
    --main-bg-hover: #059669;
    --main-text-color: #f0fdf4;
}

.form-container {
    width: 100%;
    max-width: 450px; 
}

.divider {
    border: none;
    border-top: 1px solid #888888;
    margin: 20px 0;
    width: 100%;
}

.bg-main {
    background-color: var(--main-bg-color) !important;
    color: var(--main-text-color) !important;
}

.text-main {
    color: var(--main-bg-color) !important;
}

.text-main:hover {
    color: var(--main-bg-hover) !important;
}

.accordion-button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.accordion-button:not(.collapsed) {
    background-color: #333333;
    color: white;
    border-color: #333333;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
}

.btn-main:active {
    background-color: var(--main-bg-hover);
    color: var(--main-text-color);
    border-color: var(--main-bg-color);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2); 
}

.add-task-button {
    cursor: pointer;
}

.btn-main {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border: 1px solid var(--main-bg-hover);
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
    cursor: pointer;
}

.btn-main:hover {
    background-color: var(--main-bg-hover);
    color: var(--main-text-color);
    border-color: var(--main-bg-color);
}

.sidebar .nav-link {
    color: var(--main-bg-color);
    font-weight: 500;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.sidebar .nav-link:hover {
    color: var(--main-text-color);
    background-color: var(--main-bg-hover);
    border-radius: 5px;
    padding-left: 10px;
}

.sidebar .nav-link.active {
    color: var(--main-text-color);
    background-color: var(--main-bg-hover);
    font-weight: bold;
    border-radius: 5px;
    padding-left: 10px;
}


